/* CreateNewDream.module.css */


@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes fadeInPopup {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@media screen and (max-width: 600px) {

  .container {
    text-align: center !important;
  }

  .heroTitle {
    font-size: 1.8rem !important;
    margin-bottom: 0.1rem !important;
    margin-top: 0.1rem;
  }

  .heroSubtitle {
    font-size: 1.4rem !important;
    width: 17rem;
  }

  .card {
    width: 95% !important;
    margin-top: 0.1rem !important;
  }

  .button {
    max-width: 90% !important;
    width: 10rem !important;
  }

  .surpriseButton {
    font-size: 0.9rem !important;
    width: 14rem !important;
  }

}

.popup {
  position: relative;
  top: 50%;
  right: 50%;
  background-color: #f0fdf4;
  color: #0bb335b2;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  z-index: 9999;
  border: 0.5rem solid #fdfdfdce;
  width: 80%;
  max-width: 90%;
  animation: fadeInPopup 0.4s ease-out;
}

.surpriseButton {
  margin-top: 0.1rem;
  background-color: #00000076;
  color: #ffffffda;
  padding: 0.5rem 1rem;
  width: 40%;
  align-self: center;
  border-radius: 3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.surpriseButton:hover {
  margin-top: 0.1rem;
  background-color: #6b6b6ba8;
  color: #ffffff;
  transform: scale(1.01);
  transition: transform 0.3s ease;
}

.dismissButton {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dismissButton:hover {
  background-color: #0e9e6e;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(161, 90, 247, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 0.3rem solid rgba(255, 255, 255, 0.137);
  padding: 2rem;
  width: 50%;
  max-width: 90%;
  margin-top: 1rem;
  animation: fadeIn 0.6s ease-in;
}

.card:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  min-height: 100vh;
  padding: 0.3rem;
}

.nav {
  background: linear-gradient(135deg, #3406bc, #545454); ;
}
 
.heroHeader {
  text-align: center;
  margin-top: 0.5rem;
  padding: 0.1rem;
}

.heroTitle {
  font-size: 3.3rem;
  font-weight: 800;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #ffffffce 20%, #bdbdbdc9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: fadeIn 1s ease-in-out;
  text-shadow: 0 0 0.3rem rgba(150, 68, 250, 0.8), 
               0 0 0.15rem rgb(255, 255, 255);
               
}

.heroSubtitle {
  font-size: 1.8rem;
  margin-top: 0.1rem;
  font-family: var(--font-cormorant);
  align-self: center;
  font-weight: 400;
  color: #ba46f4ec;
  text-shadow: 0 0 0.2rem rgba(150, 68, 250, 0.8), 
  0 0 0.08rem rgb(255, 255, 255);
  animation: fadeIn 1.5s ease-in-out;
  margin-bottom: -0.5rem;
  
}
  .title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .main {
    width: 100%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .dropdownCats {
    color: rgb(0, 0, 0);
    background: rgb(189, 186, 193);
  }
  
  .input,
  .select {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffffdb;
    border: 0.1rem solid rgba(255, 255, 255, 0.2);
    background-color: rgba(128, 128, 128, 0.245);
    box-shadow: 0 0 0.5rem #6923ffb0, 0 0 0.7rem #3510efa4, 0 0 0.9rem #0000004d;
    border-radius: 0.7rem;
    padding: 0.8rem;
    font-size: 0.85rem;
    background-position: right 0.8rem center;
    background-size: 1.2rem;
  }

  .input::placeholder {
    color: rgba(255, 255, 255, 0.699); 
  }
  
  .select:focus {
    outline: none;
    border-color: #a15af7;
    background: rgba(255, 255, 255, 0.1);
  }
  
  .dropdownCats {
    background-color: rgba(30, 30, 30, 0.8);
    color: #ffffff;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    opacity: 0.85;
  }
  
  
  .button {
    background-color: #0d940fc1;
    align-self: center;
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.65);
    color: white;
    padding: 1rem 0.5rem;
    font-size: 0.9rem;
    border-radius: 0.8rem;
    width: 30%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background: 50%;
    background-color: rgba(136, 75, 249, 0.288);
  }
  
  .error {
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
  }
  
  .error {
    color: red;
  }
  
