@media screen and (max-width: 600px) {

  .container {
    max-width: 95% !important;
  }

  .heroTitle {
    font-size: 1.7rem !important;
    margin-top: -1.5rem !important;
    margin-bottom: -1rem !important;
    margin-left: -5% !important;
  }

  .sectionHeader {
    font-size: 1.2rem !important;
    margin-left: 0.8rem !important;
    margin-bottom: 0.5rem !important;
    margin-top: 1rem !important;
    max-width: 90% !important;
  }
}

.container {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    justify-content: center;
    
  }

  .results {
    margin-top: 3rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #ffffffdc;
    animation: fadeIn 1.5s ease-in-out;
    margin-bottom: 3rem;
  }
  
    
  .grid {
    display: grid;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    gap: 1.5rem;
    margin-left: -1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  
  .card {
    border-radius: 10%;
    background: linear-gradient(270deg, #939393 5%, #bababa 30%, #d6d6d6 90%);
    box-shadow: 0 0 10px #ffffff, 0 0 20px #55545a, 0 0 30px #000000;
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 1.5rem;
  
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
  }
  
  .card p {
    margin: 0.3rem 0;
    font-size: 0.95rem;
  }
  
  
  .card h3 {
    font-size: 1.75rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card strong {
    color: #000000;
  } 
  
  .card p {
    font-size: 1rem;
    margin: 5px 0;
    color: #000000d1;
  }

  .statusLabel {
    margin-top: 0.5rem;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(to right, #10b981, #06b6d4);
    padding: 0.3rem 0.8rem;
    border-radius: 1rem;
    display: inline-block;
    font-size: 0.9rem;
  }

  .sectionHeader {
    font-size: 2.3rem;
    font-weight: 400;
    max-width: 35%;
    color: #ffe601e4;
    background: rgba(0, 0, 0, 0.598);
    box-shadow: 0 0 10px #ffffff, 0 0 20px #55545a, 0 0 30px #000000;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 1.3rem;
    animation: fadeIn 1.5s ease-in-out;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    margin-left: 35%;
    padding: 0.1rem;
    text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.774);
  }
  
  
  .button {
    margin-top: 2rem;
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease;
  }
  
  .button:hover {
    background-color: #0059c1;
  }

  .heroHeader {
    text-align: center;
    justify-items: center;
    margin-top: 0.5rem;
    padding: 0.1rem;
  }
  
  .heroTitle {
    font-size: 4rem;
    width: 50rem;
    font-weight: 800;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, #ffffffce 20%, #bdbdbdc9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: fadeIn 1s ease-in-out;
    text-shadow: 0 0 0.3rem rgba(150, 68, 250, 0.8), 
                 0 0 0.15rem rgb(255, 255, 255);
                 
  }

  .heroSubtitle {
    font-size: 1.3rem;
    font-weight: 400;
    color: #000000;
    animation: fadeIn 1.5s ease-in-out;
    margin-bottom: 3rem;
    
  }
  
  .nav {
    background: linear-gradient(135deg, #3406bc, #545454); ;
  }
  