/* DreamTeamLanding.module.css */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 600px) {
  .heroTitle {
    font-size: 2.8rem !important;
    margin-top: 0.3rem !important;
    margin-bottom: 0.3rem !important;
    text-align: center;
  }

  .heroSubtitle {
    font-size: 1rem !important;
    margin-top: 0.1rem !important;
  }

  .formTitle {
    font-size: 1.6rem !important;
  }
  .logo {
    width: 70%;
    height: 70%;
  }

  .main {
    width: 80% !important;
  }

  .inputField {
    width: 98% !important;
    font-size: 0.6rem !important;
  }

  .inputLabel {
    font-size: 0.8rem !important;
  }
  
  .showPassword {
    left: 4rem !important;
    top: 18% !important;
  }
  
  .button {
    width: 90% !important;
    height: 4rem !important;
    font-size: 1.2rem !important;
    padding: 0.3rem !important;
  } 
  

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0.3rem;
  }
  
  .nav {
    background: linear-gradient(135deg, #3406bc, #545454);
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .button {
    background-color: #6238dec1;
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.65);
    color: white;
    padding: 1rem 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    width: 18rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #211e29;
  }

  .heroHeader {
    text-align: center;
    margin-top: 0.5rem;
    padding: 0.1rem;
  }
  
  .heroTitle {
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, #ffffffd8 20%, #f8db21 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(255, 255, 255, 0.115);
    animation: fadeIn 1s ease-in-out;
    text-shadow: 0 0 0.3rem rgb(249, 231, 30), 
                 0 0 0.15rem rgba(245, 234, 136, 0.884);
                 
  }
  
  .heroSubtitle {
    font-size: 1.3rem;
    font-weight: 400;
    color: #ffffffec;
    animation: fadeIn 1.5s ease-in-out;
    margin-bottom: 3rem;
    
  }
  
  