:root {
  --font-inter: 'Inter', sans-serif;
  --font-cormorant: 'Cormorant Garamond', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .heroTitle {
    font-size: 1.5rem !important;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }
  
}

h1,
h2,
.heroTitle {
  font-family: var(--font-cormorant);
}

html,
body {
  background-color: #0a0a0a;
  margin: 0;
 
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: var(--font-inter);
}

.background {
  opacity: 0;
  background-color: darkslategrey;
  transform: scale(1.07); /* start slightly zoomed */
  animation: fadeZoomBackground 1.5s ease-out forwards;

  /* Background settings */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(104, 104, 104, 0.2)),
    url('/night-sky.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-transition {
  opacity: 0;
  transform: scale(1.07);
  filter: blur(1rem);
  animation: fadeInCombined 1.5s ease-out forwards;
}

@keyframes fadeInCombined {
  to {
    opacity: 1;
    transform: scale(1);      /* return to normal zoom */
    filter: blur(0);          /* remove blur */
  }
}

