/* Profile.module.css */

@media screen and (max-width: 600px) {
  .logo {
    width: 50%;
    height: 50%;
  }

  .card {
    width: 90% !important;
    margin-bottom: 15rem !important;
  }

  .title {
    font-size: 2rem !important;
  }

  .info {
    font-size: 1rem !important;
    max-width: 90%;
  }

  .infoId {
    font-size: 1rem !important;
    color: #ffffffcc;
  }

  .h2 {
    font-size: 1.3rem !important;
  }
  
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.nav {
    background: linear-gradient(135deg, #3406bc, #545454);
    
  }

  .logo {
    border-radius: 3rem;
    border-width: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.8);
    border: 0.3rem solid rgba(0, 0, 0, 0.5);
  }

  .vert {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.1);
    width: 50%;
    backdrop-filter: blur(15px);
    border-radius: 1.5rem;
    padding: 0.5rem;
    margin-bottom: 25rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(255, 255, 255, 0.25);
    text-align: center;
    justify-items: center;
    animation: fadeIn 1.2s ease-in-out;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 800;
    background: linear-gradient(90deg, #9b6bff, #ff6bc9);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .h2 {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-weight: 1000;
    font-family: var(--font-cormorant);
  }

  .info {
    font-size: 1.2rem;
    color: #ffffffcc;
  }

  .infoId {
    font-size: 1.2rem;
    color: #ffffffcc;
  }
  
  .info span {
    font-weight: bold;
    color: #fff;
  }
  
  .loading {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5rem;
    color: #555;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  