.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.searchBar {
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  width: 60%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 10px;
}

.searchButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #0056b3;
}

.categoryButtons {
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.categoryButtons button {
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  background-color: #6138de;
  color: whitesmoke;
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.5);
  border: 0.07rem solid #ccc;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.categoryButtons button:hover {
  background-color: #eaeaea;
  color: rgb(0, 0, 0);
}

.categoryButtons button.activeButton {
  background-color: rgba(103, 103, 103, 0.912);
  color: #ffffff;
  opacity: 70%;
}


.results {
  margin-top: 3rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #ffffffdc;
  animation: fadeIn 1.5s ease-in-out;
  margin-bottom: 3rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* .card {
  background: linear-gradient(135deg, rgb(67, 9, 149), rgb(172, 172, 172));
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
} */

/* moon card */
.card {
  border-radius: 10%;
  background: linear-gradient(270deg, #939393 5%, #bababa 30%, #d6d6d6 90%);
  box-shadow: 0 0 10px #ffffff, 0 0 20px #55545a, 0 0 30px #000000;
  text-align: left;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: 1.5rem;

}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.card p {
  margin: 0.3rem 0;
  font-size: 0.95rem;
}


.card h3 {
  font-size: 1.75rem;
  margin-bottom: 10px;
  color: #333;
}

.card strong {
  color: #000000;
} 

.card p {
  font-size: 1rem;
  margin: 5px 0;
  color: #000000d1;
}


.cosignSection {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #555;
  background-color: #000000;
  padding: 6px 10px;
  border-radius: 8px;
}

.heroHeader {
  text-align: center;
  margin-top: 0.5rem;
  padding: 0.1rem;
}

.heroTitle {
  font-size: 3.7rem;
  font-weight: 800;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #0b5274 0%, #13c2b3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: fadeIn 1s ease-in-out;
  text-shadow: 0 0 0.1rem rgba(140, 210, 248, 0.8), 
               0 0 0.1rem rgba(132, 244, 233, 0.884);
               
}

.heroSubtitle {
  font-size: 1.5rem;
  font-weight: 800;
  color: #000000;
  animation: fadeIn 1.5s ease-in-out;
  margin-bottom: 3rem;
  
}

.nav {
  background: linear-gradient(135deg, #3406bc, #545454);
  
}

