/* SearchUsers.module.css */
@media screen and (max-width: 600px) {
  .container {
    max-width: 95% !important;
  }

  .viewFriendsButton {
    padding: 0.5rem !important;
    margin-top: -1rem !important;
    font-size: 1.3rem !important;
  }

  .heroTitle {
    font-size: 2rem !important;
    margin-top: -2rem !important;
    max-width: 30%;
    margin-bottom: 0.2rem !important;
    margin-left: 27rem !important;
  }

  .sectionHeader {
    font-size: 1.2rem !important;
    margin-left: 0.4rem !important;
    margin-bottom: 1.5rem !important;
    margin-top: 1rem !important;
    max-width: 15rem !important;
    padding: 0.2rem 0.4rem !important;
  }

  .grid {
    max-width: 93% !important;
    gap: 1rem !important;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)) !important;
  }
  

  .h2 {
    margin-top: -1rem !important;
  }
  
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 95%;
    margin: 0 auto;
  }

  .grid {
    display: grid;
    max-width: 75%;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
  
  .searchBar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
  }
  
  .input {
    width: 80%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 1rem;
  }
  
  .searchButton {
    padding: 0.5rem;
    font-family: var(--font-cormorant);
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .searchButton:hover {
    background-color: #45a049;
  }
  
  .buttonContainer {
    margin-bottom: 2rem;
  }
  
  .viewFriendsButton {
    padding: 0.8rem;
    font-family: var(--font-cormorant);
    font-size: 1.5rem;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 0.08rem;
    cursor: pointer;
  }
  
  .viewFriendsButton:hover {
    background-color: #1e88e5;
  }
  
  .results {
    width: 100%;
    text-align: left;
  }
  
  .error {
    color: red;
    margin-bottom: 1rem;
  }
  
  .resultCard {
    border-radius: 10%;
    background: linear-gradient(270deg, #939393 5%, #bababa 30%, #d6d6d6 90%);
    box-shadow: 0 0 10px #ffffff, 0 0 20px #55545a, 0 0 30px #000000;
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 1.5rem;
  
  }
  
  .resultCard p {
    margin: 0.5rem 0;
  }
  
  .resultCard strong {
    font-weight: bold;
  }

  .addFriendButton {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .addFriendButton:hover {
    background-color: #45a049;
  }

  .viewDreamTeamsButton {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .viewDreamTeamsButton:hover {
    background-color: #0056b3;
  }

  .sectionHeader {
    font-size: 2.3rem;
    font-weight: 400;
    max-width: 95%;
    color: #ffe601e4;
    background: rgba(0, 0, 0, 0.598);
    box-shadow: 0 0 10px #ffffff, 0 0 20px #55545a, 0 0 30px #000000;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 1.3rem;
    animation: fadeIn 1.5s ease-in-out;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    margin-left: 3rem;
    padding: 0.2rem 1.3rem;
    text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.774);
  }
  
  .heroHeader {
    text-align: center;
    margin-top: 0.5rem;
    padding: 0.1rem;
  }

  .heroTitle {
    font-size: 3.7rem;
    width: 50rem;
    font-weight: 800;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, #ffffff 20%, #13c2b3d7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: fadeIn 1s ease-in-out;
    text-shadow: 0 0 0.3rem rgba(117, 203, 250, 0.847), 
                 0 0 0.3rem rgba(42, 247, 227, 0.808);
                 
  }

  .h2 {
    color: white;
  }
  .h3 {
    color: whitesmoke;
  }
  
  .nav {
    background: linear-gradient(135deg, #3406bc, #545454); ;
  }
  