.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.searchBar {
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  width: 60%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 10px;
}

.searchButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #0056b3;
}

.categoryButtons {
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.categoryButtons button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.categoryButtons button:hover {
  background-color: #007bff;
  color: white;
}

.results {
  margin-top: 30px;
}

.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background: linear-gradient(135deg, rgb(67, 9, 149), rgb(172, 172, 172));
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.card p {
  margin: 0.3rem 0;
  font-size: 0.95rem;
}


.card h3 {
  font-size: 1.75rem;
  margin-bottom: 10px;
  color: #333;
}

.card strong {
  color: #0099ff;
} 

.card p {
  font-size: 1rem;
  margin: 5px 0;
  color: #ffffff;
}


.cosignSection {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #555;
  background-color: #000000;
  padding: 6px 10px;
  border-radius: 8px;
}

.categoryButton {
  padding: 8px 16px;
  margin: 4px;
  border: 1px solid #ccc;
  background-color: white;
  color: #000000;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.categoryButton:hover {
  background-color: #f0f0f0;
}

.activeButton {
  color: rgb(0, 89, 255);
  border: 0.03rem solid #007bff;
}

.heroHeader {
  text-align: center;
  margin-top: 0.5rem;
  padding: 0.1rem;
}

.heroTitle {
  font-size: 3.7rem;
  font-weight: 800;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #097aaf 0%, #20f6e4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: fadeIn 1s ease-in-out;
  text-shadow: 0 0 0.1rem rgba(27, 142, 204, 0.8), 
               0 0 0.1rem rgba(55, 255, 235, 0.884);
               
}

.heroSubtitle {
  font-size: 1.5rem;
  font-weight: 800;
  color: #279de7;
  animation: fadeIn 1.5s ease-in-out;
  margin-bottom: 3rem;
  
}

.nav {
  background: linear-gradient(135deg, #3406bc, #545454); ;
}

