.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.searchBar {
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  width: 60%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 10px;
}

.searchButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #0056b3;
}

.categoryButtons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.categoryButtons button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.categoryButtons button:hover {
  background-color: #007bff;
  color: white;
}

.results {
  margin-top: 30px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 1.75rem;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 1rem;
  margin: 5px 0;
  color: #555;
}

.card strong {
  color: #007bff;
}

.cosignSection {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #555;
  background-color: #f0f0f0;
  padding: 6px 10px;
  border-radius: 8px;
}

.categoryButton {
  padding: 8px 16px;
  margin: 4px;
  border: 1px solid #ccc;
  background-color: white;
  color: #000000;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.categoryButton:hover {
  background-color: #f0f0f0;
}

.activeButton {
  background-color: #0070f3;
  opacity: 57%;
  color: rgb(26, 156, 34);
  border: 1px solid #007bff;
}

