/* Signup.module.css */

@media screen and (max-width: 600px) {
  .heroTitle {
    font-size: 2.5rem !important;
    margin-top: 0.3rem !important;
    margin-bottom: 0.3rem !important;
    text-align: center;
  }

  .heroTitle2 {
    font-size: 2rem !important;
    width: 11rem !important;
    margin-right: -35% !important;
  }

  .moonContainer {
    margin-top: 0.5rem !important;
    margin-right: 7rem !important;
    margin-bottom: 1rem !important;
  }

  .heroSubtitle {
    font-size: 1.2rem !important;
    margin-top: 0.1rem !important;
  }

  .formTitle {
    font-size: 1.6rem !important;
  }

  .logo {
    width: 70%;
    height: 70%;
  }

  .main {
    width: 80% !important;
  }

  .inputField {
    width: 98% !important;
    font-size: 0.6rem !important;
  }

  .error {
    font-size: 0.8rem !important;
    margin-bottom: 0.05rem !important;
    margin-top: 0.01rem;
  }


  .inputLabel {
    font-size: 0.8rem !important;
  }

  .showPassword {
    font-size: 0.8rem !important;
    left: 4rem !important;
    top: 1.78rem !important;
  }

  .button {
    width: 40% !important;
    padding: 0.3rem !important;
  }

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0.5rem;
}

.moonContainer {
  margin-right: 6rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.main {
  width: 100%;
  /* background: linear-gradient(
      rgba(176, 97, 228, 0.3), 
      rgba(232, 136, 244, 0.3)
    ); */
  background: rgba(113, 58, 130, 0.15);
  max-width: 28rem;
  border-radius: 1.25rem;
  box-shadow: 0 0.08rem 1.2rem rgba(0, 0, 0, 0.15);
  /* softer, bigger shadow */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  backdrop-filter: blur(12px);
  /* add slight blur over background */
  background-clip: padding-box;
  /* keeps border-radius clean */
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  /* light border around main */
}

.headerP {
  font-size: 1rem;
  margin-top: 0.1rem;
  font-weight: 400;
  color: #d1d5db;
  animation: fadeIn 1.5s ease-in-out;
}

.formTitle {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  animation: fadeIn 1.5s ease-in-out;
}

.inputLabel {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fffdce;
  margin-bottom: 0.25rem;
  transition: all 0.2s ease;
  animation: fadeIn 1.5s ease-in-out;
}

.inputField {
  width: 100%;
  color: #000000;
  opacity: 60%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.05rem solid #ccc;
  margin-bottom: 1rem;
  outline: none;
  transition: all 0.2s ease;
  animation: fadeIn 1.5s ease-in-out;
}



.showPassword {
  position: relative;
  left: 25%;
  top: 2.1rem;
  transform: translateY(-50%);
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: "pointer";
  padding: 0;
  color: "gray";
  font-size: "1.2rem";
}

.error {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #ff0000;
  margin-bottom: 0.25rem;
  text-align: center;
}

.loginErrorMain {
  font-size: 1rem;
  margin-top: -1rem;
  font-weight: 400;
  color: #fda10cef;
  animation: fadeIn 1.5s ease-in-out;
}

.loginError {
  font-size: 1rem;
  margin-top: 0.01rem;
  font-weight: 400;
  color: #fd0c0cc0;
  animation: fadeIn 1.5s ease-in-out;
}


.button {
  width: 20%;
  padding: 0.75rem;
  background: linear-gradient(135deg, #9b6bff, #b98aff);
  /* subtle purple gradient */
  color: white;
  font-weight: 600;
  border-radius: 0.75rem;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(155, 107, 255, 0.3);
  /* soft glow */
}

.button:hover {
  background: linear-gradient(135deg, #8a5de0, #a77ef5);
  /* slightly deeper purple on hover */
  box-shadow: 0 6px 16px rgba(155, 107, 255, 0.5);
  /* stronger soft glow */
  transform: translateY(-2px);
  /* slight lift */
}

.text {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 0.25rem;
  text-align: center;
}

.textLink {
  color: #6c5ce7;
  text-decoration: underline;
  cursor: pointer;
}

.heroHeader {
  text-align: center;
  margin-top: 0.5rem;
  padding: 0.1rem;
}

.heroTitle2 {
  font-size: 3.5rem;
  font-weight: bold;
  background: linear-gradient(90deg, #e8d508 0%, #f62020 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: fadeIn 1s ease-in-out;
  margin-bottom: 0.1rem;
  margin-top: 0.05rem;

}

.heroTitle {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 0.1rem;
  background: linear-gradient(90deg, #000000 0%, #515151 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: fadeIn 1s ease-in-out;
  text-shadow: 0 0 0.1rem rgba(161, 90, 247, 0.8),
    0 0 0.1rem rgba(191, 191, 191, 0.884);

}

.heroSubtitle {
  font-size: 1.3rem;
  font-weight: 400;
  color: #ffffffd8;
  animation: fadeIn 1.5s ease-in-out;
  margin-bottom: 0.1rem;

}

.nav {
  background: linear-gradient(135deg, #3406bc, #545454);
  ;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
    /* slight upward motion */
  }

  100% {
    opacity: 0.5;
    transform: translateY(-20px);
  }
}