/* Signup.module.css */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }

  .formTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .inputLabel {
    font-size: 1.7rem;
    margin-bottom: 5px;
  }
  

  .inputField {
    width: 100%;
    color: #000000;
    opacity: 60%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.05rem solid #ccc;
    margin-bottom: 1rem;
    outline: none;
  }
  
  
  .button {
    background-color: #6c5ce7;
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #5a4fcf;
  }
  
  .textCenter {
    text-align: center;
  }
  
  .textLink {
    color: #6c5ce7;
    text-decoration: underline;
    cursor: pointer;
  }

  .heroHeader {
    text-align: center;
    margin-top: 0.5rem;
    padding: 0.1rem;
  }
  
  .heroTitle {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, #000000 0%, #515151 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: fadeIn 1s ease-in-out;
    text-shadow: 0 0 0.1rem rgba(121, 64, 244, 0.8), 
                 0 0 0.1rem rgba(103, 102, 103, 0.884);
                 
  }
  
  .nav {
    background: linear-gradient(135deg, #3406bc, #545454); ;
  }